* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/* hero */
.hero {
  background: url("../images/home_slider.jpg") center center no-repeat fixed;
  background-size: cover;
  background-color: burlywood;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.parent {
  z-index: 2;
}
.hero,
.parent {
  width: 100%;
}
.heading h1 {
  font-size: 60px;
}
.heading h1,
.caption h2 {
  font-family: "Merriweather-Light";
  color: #ffffff;
  text-align: center;
}
.caption h2 {
  font-size: 24px;
  padding: 45px 0;
}
.title-button {
  background-color: #ffffff;
  width: fit-content;
  padding: 11px 34px;
  border-radius: 50px;
  margin: 0 auto;
  transition: all 0.3s;
}
.title-button span {
  font-family: "Montserrat-Thin";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}
.title-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  cursor: pointer;
}
.title-button:hover span {
  color: white;
}
/* header */
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  transform: none;
}
.header {
  width: 100%;
  background-color: #90a8ad;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.header a:hover,
.header a.active {
  color: white;
  font-weight: bold;
}
.header .nav .ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 118px;
}
.space {
  text-align: center;
}
.logo {
  width: 100%;
  max-height: 82px;
  height: 60px;
}
.menu-items {
  font-family: "Montserrat-Thin";
  font-size: 14px;
  color: #ffffff;
}
.header .nav .ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s;
}
.header .nav .ul .space a:hover .menu-items {
  color: #ffffff;
}
.description p,
.text-one p,
.text-two p,
.more-details {
  font-family: "Merriweather-Light";
}
.into-under-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 120px 0;
}
.description p {
  font-size: 32px;
  text-transform: capitalize;
  height: 55px;
  color: #747474;
}
.text-one {
  margin: 100px 0 50px 0;
}
.text-two {
  margin-bottom: 40px;
}
.text-one,
.text-two {
  width: 100%;
  max-width: 70%;
}
.text-one p,
.text-two p,
.more-details a {
  font-size: 16px;
  line-height: 36px;
}
.color {
  color: #b9675e;
}
.more-details a {
  margin-top: 50px;
}
