/* responsive for desktop */
@media (max-width: 1440px) {
  .hero,
  .parent {
    width: 100%;
  }
  .description {
    margin-bottom: 50px;
  }
  .text-one,
  .text-two {
    width: 100%;
  }
  .text-under-border p {
    max-width: 100%;
  }
  .bgtwo {
    width: 100%;
    max-width: 120%;
    height: 110%;
  }
}
/* responsive for laptop */
@media (max-width: 1024px) {
  .hero,
  .space {
    display: none;
  }
  .wedding-logo {
    position: absolute;
    top: -90px;
    left: 30px;
  }
  .label {
    padding-right: 30px;
  }
  .wedding-logo .logo {
    width: 100%;
    max-width: 40%;
    height: auto;
  }
  /* new */
  .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .nav {
    width: 100%;
  }
  .header .nav .ul {
    display: none !important;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    flex-direction: column;
    z-index: 99;
  }
  .ul li {
    width: 100%;
  }
  .ul .space {
    width: 100%;
    display: flex;
  }
  .menu-items {
    color: #352e2b;
    font-weight: 800;
  }
  /* active menu */
  .header.active .nav .ul {
    display: flex !important;
  }
  .header .nav .ul li a {
    width: 100%;
    text-align: left;
    padding: 15px;
    color: #333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }
  .header .nav .ul li a.active {
    background-color: #90a8ad;
  }
  #label-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  #label-toggle .layout {
    width: 32px;
    height: 4px;
    background-color: white;
    transition: all 0.4s ease;
  }
  /* active X icon */
  .header.active #label-toggle .layout1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .header.active #label-toggle .layout2 {
    opacity: 0;
  }
  .header.active #label-toggle .layout3 {
    transform: rotate(-45deg) translate(10px, -10px);
  }

  .counter-down {
    height: 200px;
  }
  .mid {
    width: 100%;
    justify-content: center;
  }
  .counter-down .left {
    padding-bottom: 25px;
  }
  .counter-down .right {
    padding-top: 25px;
  }
  .counter-down .left,
  .counter-down .right {
    width: 100%;
    text-align: center;
  }
  .counter-down .inset {
    flex-direction: column;
  }
  .venue {
    flex-wrap: wrap;
  }
  .venue .explanation {
    max-width: 100%;
  }
  /* text-story */
  .text-story p {
    width: 75%;
  }
  .column {
    width: 70%;
  }
  .picture {
    width: 100%;
  }
  .comments {
    flex-direction: column;
  }
  .joint {
    max-width: 100%;
  }
  .fine-details {
    flex-wrap: wrap;
  }
  .question,
  .map {
    width: 100%;
    height: 100%;
  }
  .map iframe {
    width: 100%;
    height: 1000px;
    border: 0;
  }
  .image-frames {
    flex-wrap: wrap;
  }
  /* main */
  main {
    width: 100%;
    overflow: hidden;
  }
  /* rsvp-bg */
  .form-control {
    width: 90%;
  }
  .slider-rsvp {
    min-height: 1300px;
  }
  .bgfour {
    top: -40%;
  }
}
/* responsive for tablet and mobile */
@media (max-width: 768px) {
  .parent {
    width: 100%;
    overflow: hidden;
  }
  .description p {
    height: 100px;
  }
  .photos {
    width: 100%;
    flex-wrap: wrap;
  }
  .our-wedding-day .show-items .photos .display a img {
    width: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
    max-height: 77%;
    top: 0;
    transform: translate(0%, 0%);
  }
  .exposition {
    width: 100%;
  }
  .counter-down .inset .mid {
    flex-wrap: wrap;
  }
  .counter-down {
    height: 300px;
  }
  .counter-down .inset .clock {
    margin: 5px 5px;
  }
  .map iframe {
    width: 600px;
    height: 1000px;
    border: 0;
  }
  /* text-story */
  .column {
    width: 100%;
  }
  .cases {
    padding: 0 20px;
    flex-wrap: wrap;
  }
  /* question */
  .question {
    padding: 100px 50px;
  }
}
/* responsive for miblie */
@media (max-width: 375px) {
  .parent {
    display: block;
    width: 100%;
  }
  /* question */
  .question {
    padding: 100px 25px;
  }
}
