/* Merriweather */
@font-face {
  font-family: "Merriweather-Light";
  src: url("../fonts/merriweather-Light/MerriweatherLight.eot");
}
@font-face {
  font-family: "Merriweather-Light";
  src: url("../fonts/merriweather-Light/MerriweatherLight.ttf");
}
@font-face {
  font-family: "Merriweather-Light";
  src: url("../fonts/merriweather-Light/MerriweatherLight.woff");
}
@font-face {
  font-family: "Merriweather-Light";
  src: url("../fonts/merriweather-Light/MerriweatherLight.woff2");
}
/* Merriweather-Light */
@font-face {
  font-family: "Merriweather-Light-italic";
  src: url("../fonts/merriweather-light-italic/Merriweather-LightIt.eot");
}
@font-face {
  font-family: "Merriweather-Light-italic";
  src: url("../fonts/merriweather-light-italic/Merriweather-LightIt.ttf");
}
@font-face {
  font-family: "Merriweather-Light-italic";
  src: url("../fonts/merriweather-light-italic/Merriweather-LightIt.woff");
}
@font-face {
  font-family: "Merriweather-Light-italic";
  src: url("../fonts/merriweather-light-italic/Merriweather-LightIt.woff2");
}
/* Montserrat-Thin */
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin/Montserrat-Thin.eot");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin/Montserrat-Thin.woff");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin/Montserrat-Thin.woff2");
}
/* Merriweather-light-regular */
@font-face {
  font-family: "Merriweather-light-regular";
  src: url("../fonts/Merriweather-light-regular/Merriweather\ Light\ Regular.eot");
}
@font-face {
  font-family: "Merriweather-light-regular";
  src: url("../fonts/Merriweather-light-regular/Merriweather\ Light\ Regular.ttf");
}
@font-face {
  font-family: "Merriweather-light-regular";
  src: url("../fonts/Merriweather-light-regular/Merriweather\ Light\ Regular.woff");
}
@font-face {
  font-family: "Merriweather-light-regular";
  src: url("../fonts/Merriweather-light-regular/Merriweather\ Light\ Regular.woff2");
}